/* @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap'); */

.fourth{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: 'Kanit', sans-serif;
}
.fourth{
    height: 100vh;
    width: 100vw;
    background-color: white;
    
    
    vertical-align: middle;
}
.fourthwrapper{
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    
    flex-direction: column;
    
    vertical-align:middle;
    
}
.fourthone{
    width: 100%;
    height: 15%;
    
    display: flex;
    justify-content: space-around;
  
}
.dotbox{
    width: 20%;
    height: 100%;
    
    display: flex;
    justify-content: space-around;
    
}

.dots{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #5642FF;
    margin-top: 15%;

}
.fourthtwo{
    width: 100%;
    height: 25%;
   
    display: flex;
    /* align-items: center; */
}
.twotext{
    width: 70%;
    height: 100%;
    
    
}
.twoimage{
    width: 30%;
    height: 100%;
   
}
.twoline{
    font-size: 60px;
    padding-left: 20px;
    font-weight: bolder;
}
.twolinebg{
    display: inline;
    background-color: #0C0634;
    color: #FF1616;
    padding: 0px 30px;
    border-radius: 50px;
    border: 2px solid black;
}
.fourththree{
    width: 100%;
    height: 20%;
   
    
    padding: 30px 20px ;
    font-size: 30px;
    padding-right: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.fourthfour{
    width: 100%;
    height: 40%;
 
}
.fourthfourwrapper{
    width: 97%;
    height: 90%;
    margin: auto;
    margin-top: 10px;
    background-color: #4271FF;
    border: 3px solid black;
    border-radius: 30px;
    box-shadow: 20px 20px 0px black;
    display: flex;
    flex-direction: column;
}
.fourtop{
    width: 100%;
    height: 40%;
    margin-left: 15px;
    display: flex;
}
.fourbottom{
    width: 100%;
    height: 60%;
  
}
.image1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid black;
    
    
}
.fourtopimage{
    width: 12%;
    height: 100%;
    padding-left: 50px;
    padding-top: 20px;
    
}
.fourtoptext{
    color: white;
    font-weight: bolder;
    font-size: 22px;
    padding-top: 12px;
}
.fourbottomwrapper{
    width: 90%;
    height: 90%;
    background-color: #C6F806;
    border: 2px solid black;
    border-radius: 30px;
    margin: auto;
   
}
.fourbottomtext{
    padding: 15px 40px;
    font-size: 25px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}

@media screen and (max-width: 600px) {
    .dots{
        width: 15px;
        height: 15px;
        margin-top: 25px;
    
    }
    .twoline{
        font-size: 20px;
        font-weight: bold;
    }
    .twolinebg{
        padding: 0px 10px;
    }
    .fourththree{
        padding: 0px 10px ;
        font-size: 15px;
        text-align: center;
    }
    .image1{
        width: 40px;
        height: 40px;
    }
    .fourtop{
        margin-left: 5px;
    }
    /* .twoimage{
        width: 50px;
        height: 50px;
    } */

    .fourtopimage{
        width: 20%;
        padding-left: 10px;
        padding-top: 40px;
        
    }
    .fourtoptext{
        width: 80%;
        font-weight: bold;
        font-size: 13px;
        padding-top: 20px;
    }
    .fourbottomtext{
        padding: 20px 20px;
        font-size: 12px;
    }
    .fourthfourwrapper{
        box-shadow: 7px 7px 0px rgb(106, 106, 106);
    }
}