.third{
    width: 100vw;
    /* height: 110vh; */
    height: 1000px;
    background-color: white;
    
}
.third_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.third_top{
    width: 100%;
    height: 25%;
    margin-top: 50px;
   
}
/* .third_top_image1{
    width: 20%;
    height: 100%;
} */
.third_top_image2{
    width: 20%;
    height: 100%;
    /* position: relative;
    right: 144px; */
}
.third_top_middle{
    width: 100%;
    height: 15%;
    margin-top: 50px;
}



.main_card{
    width: 20%;
    height: 80%;
    background-color: #D8FF40;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 15px 15px 0px black;
    background-image: url("/boxframe1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.main_card_2{
    width: 20%;
    height: 80%;
    background-color: #4271FF;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    box-shadow: 15px 15px 0px black; 
    background-image: url("/boxframe2.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.card_top{
    width: 100%;
    height: 40%;
}
.card_mid{
    width: 100%;
    height: 20%;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    padding-top: 30px;
    
}
.card_mid_3{
    width: 100%;
    height: 20%;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    padding-top: 0px;
    
}

.card_bottom{
    width: 100%;
    height: 40%;
    font-size: 15px;
    text-align: center;
    padding: 10px 25px;
}
.third_bottom{
    width: 100vw;
    height: 537px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}
.middle_text{
    text-align: center;
    margin: 0px 200px;
    font-size: 25px;
}
.third_top_line{
    width: 60%;
    height: 100%;
    font-size: 50px ;
    text-align: center;
    padding-top: 20px;
    font-weight: bolder;
}
.third_top_bg{
    display: inline;
    background-color: #3366FF;
    color: white;
    padding: 5px 20px ;
    border-radius: 40px;
    border: 2px solid black;
    
    
}
.image{
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 15px;
}

@media screen and (max-width : 600px) {
    .third_top_line{
        font-size: 16px ;
        padding-top: 50px;
        font-weight: 700;
    }
    .third_top_bg{
        padding: 0px 10px;
    }
    .third_top_image2{
        padding-top: 30px;
    }
    .third_middle{
        width: 100%;
        height: 10%;
        margin-top: 0px;
    }
    .middle_text{
        margin: 0px 15px;
        font-size: 13px;
    }
    .third_top{
        width: 100%;
        height: 15%;
        margin-top: 0px;
    }
    .third_bottom{
        height: 80vh;
        flex-direction: column;
        
    }
    .main_card{
        width: 90%;
        margin: auto;
        height: 30%;
        box-shadow: 5px 5px 5px 5px rgb(106, 106, 106);
    }
    .main_card_2{
        width: 90%;
        height: 30%;
        margin: auto;
        box-shadow: 5px 5px 5px 5px rgb(106, 106, 106);  
    }
    .image{
        width: 80px;
        height: 80px;
        margin-top: 5px;
    }
    .card_mid{
        font-weight: 700;
        font-size: 15px;
        padding-top: 20px;
    }
    .card_mid_3{
        font-weight: 700;
        font-size: 15px;
        padding-top: 20px;
    }
    .card_bottom{
        font-size: 12px;
        padding: 10px 45px;
    }
    
}